
<%
var current = ["nav-item","nav-item","nav-item"];
if(current_site) //sets the associated nav item active
{

    if(current_site=="/home") {
        current[0] = "\"nav-item active\"";
        current[1] = "nav-item"
        current[2] = "\"nav-item\"";

    } else if(current_site=="/view/profilePage"){
        current[0] = "nav-item"
        current[1] = "\"nav-item active\"";
        current[2] = "\"nav-item\"";
    } else if(current_site=="/community") {
        current[0] = "\"nav-item\"";
        current[1] = "\"nav-item\"";
        current[2] = "\"nav-item active\"";
    }
}
%>
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #E84B0E;" id="navigation">
    <a class="navbar-brand" href="#">FoodFinder</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class=<%- current[0] %>>
                <a class="nav-link" href="/">Home </a>
            </li>
            <%
            var profile_link = "";
            if(logged_in){
                if(logged_in==="true"){
                    profile_link += "<li class= "+ current[1] + "><a class=\"nav-link\" href=\"profilePage\">Profile</a></li>";

                }
            } %>

            <%- profile_link %>
            <li class=<%- current[2] %>>
                <a class="nav-link" href="community">Community</a>
            </li>
        </ul>
    </div>
    <form class="form-inline" action="/results" method="get">
        <input id="search" name="search_query" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
    </form>
    <div class="dropdown" style="margin-left: 6px">
        <%
        var element = '';
        if(logged_in){
            if(logged_in=='false')
            {
                element += '<button id = \"login_dropdown_btn\" class="btn btn-outline-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">log in</button>'
                        + "<div class=\"dropdown-menu dropdown-menu-right px-1\" style=\"background-color:#E84B0E;color:white\" aria-labelledby=\"login_dropdown_btn\">"
                        + " <form id=\"log-in-form\"><div class=\"form-group\">"
                        +"     <label for=\"loginUsername\">User Name: </label>"
                        +"                 <input type=\"text\" class=\"form-control\" id=\"loginUsername\" name=\"loginUsername\" placeholder=\"Name\" "
                        +"                   required=\"required\">"
                        +"  </div><div class=\"form-group\">"
                        +"                   <label for=\"loginPassword\">Password:</label>"
                        +"                   <input type=\"password\" class=\"form-control\" id=\"loginPassword\" name=\"loginPassword\" placeholder=\"password\" required=\"required\">"
                        +"<p id=\"login_warning\"></p>"
                        +"</div><div style='margin:auto'><button type=\"button\" id=\"loginsubmit\" class=\"btn btn-outline-light\" style=\"backgroundColor:rgb(30,201,110)\" onclick=\"log_in()\">log in </button></div></form>"
                        +"<div class='dropdown-divider'></div><p> New here? </p>"
                        +"<button type=\"button\" class=\"btn btn-outline-light\" data-toggle=\"modal\" data-target=\"#signup\"> Sign up </button></div>";
            } else if(logged_in=='true') {
                var profilephoto = "https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png";
                if(user){
                    if(user.profileimg != null){
                        profilephoto = user.profileimg;
                    }
                }
                element  += "<img src=\""+profilephoto+"\" class=\"rounded-circle\" id=\"profile_photo\" width=\"38px\" height=\"38px\" data-toggle=\"dropdown\" height=\"50\" style=\"margin:0px 20px\">"
                        + "<div class=\"dropdown-menu dropdown-menu-right px-1\" style=\"background-color:#E84B0E;color:white\">"
                        + "<b class=\"dropdown-header font-weight-bold\" style='color:#cccccc' id=\"navbar_username_text\"> <img src=\""+profilephoto+"\" id=\"profile_photo_small\" width=\"25\" height=\"25\"> "+ user.username+"</b>" //replace text with username from database
                        + "<a class='nav-link' style='color:#eeeeee' href="/*link to profile settings page*/ + "#" + " id='profile_settings_link'> profile settings </a>"
                        + "<div class='dropdown-divider'></div> <form action='/logout'><button type=\"submit\" class=\"btn btn-outline-light\" id=\"log_Out_Button\"> log out </button> </form>"
                        + "</div>";
            }
        %>

        <%- element %>
        <%
        } else{
            console.log("oops");
        } %>



    </div>
</nav>
<% if(logged_in){
if(logged_in=='false') { %>
    <%-  include('sign_up_modal'); %>
<% }   } else{
    console.log("oops");
}
%>