<!DOCTYPE html>
<html lang="'en">

<head>
    <title>Chatty FoodFinder </title>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
                                                                                                        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" rel="stylesheet">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper  .min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <style>
        .sidenav {
            position: fixed;
            left: 0;
            height: 100%;
            z-index: 1000;
            padding: 20px;
            overflow-y: auto;
            padding-right: 0;
            padding-left: 0;
            width: 13%;
        }

        .sidenav .btn-link {
            color: white;
            font-size: 18px;
        }

        /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
        @media screen and (max-height: 450px) {
            .sidenav {
                padding-top: 15px;
            }

            .sidenav a {
                font-size: 18px;
            }
        }

        /* Style the counter cards */
        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
            padding: 16px;
            text-align: center;
            background-color: #f1f1f1;
        }

        /* Responsive columns - one column layout (vertical) on small screens */
        @media screen and (max-width: 600px) {
            .column {
                width: 100%;
                display: block;
                margin-bottom: 20px;
            }
        }

        .section1 {
            /*this class is for setting the style of each card row*/
        }
    </style>
</head>
<body>
<%- include('../partials/navbar'); -%>

<div class="sidenav" style="background-color: #E84B0E; padding-top: 40px">
    <a class="btn btn-link" href="#american_jump" style="font-size: 20px"> American</a>
    <br>
    <a class="btn btn-link" href="#italian_jump" style="color:beige"> Italian</a>
    <br>
    <a class="btn btn-link" href="#mex_jump" style="color:beige"> Mexican</a>
    <br>
    <a class="btn btn-link" href="#chinese_jump" style="color:beige"> Asian</a>
    <br>
    <a class="btn btn-link" href="#breakfast_jump" style="color:beige"> Breakfast</a>
</div>


<div class="container" style="padding-top: 66px; padding-left: 5%">
    <a id="american_jump">
        <div class="section1">
            <h2 id="fav_header"> American </h2>
            <div class="carousel slide" data-ride="carousel" id="demo">
                <ul class="carousel-indicators">
                    <li class="active" data-slide-to="0" data-target="#demo"></li>
                    <li data-slide-to="1" data-target="#demo"></li>
                    <li data-slide-to="2" data-target="#demo"></li>
                </ul>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="card-group">
                            <div class="card" >
                                <% if(result_5) {
                                    var american_id = result_5[0].restaurantid;
                                    var american_img = "https://upserve.com/media/sites/2/kaboompics_Bar-in-the-eclectically-designed-interior-1-e1515709265222.jpg";
                                    if(result_5[0].logo_img != null){
                                        american_img = result_5[0].logo_img;
                                    }
                                    else if(result_5[0].category_img != null){
                                        american_img = result_5[0].category_img;
                                    }
                                    var american_restaurant = result_5[0].restaurantName;
                                    var american_description = result_5[0].description;
                                }
                                %>
                                <a href ="/restaurant_info?id+ <%- american_id %> " style="color:black">
                                    <img alt="Card image"
                                         class="card-img-left"
                                         height="200px"
                                         src= <%- american_img%>
                                         style="width: 100%">
                                    <div class="card-body" id="Favorite1">
                                        <h4 > <%- american_restaurant %> </h4>
                                        <p> <%- american_description %></p>
                                    </div>
                                </a>
                            </div>
                            <div class="card" >
                                <% if(result_5) {
                                    var american_id1 = result_5[1].restaurantid;
                                    var american_img1 = "https://upserve.com/media/sites/2/kaboompics_Bar-in-the-eclectically-designed-interior-1-e1515709265222.jpg";
                                    if(result_5[1].logo_img != null){
                                        american_img1 = result_5[1].logo_img;
                                    }
                                    else if(result_5[1].category_img != null){
                                        american_img1 = result_5[1].category_img;
                                    }
                                    var american_restaurant1 = result_5[1].restaurantName;
                                    var american_description1 = result_5[1].description;
                                }
                                %>
                                <a href ="/restaurant_info?id+ <%- american_id1 %> " style="color:black">
                                    <img alt="Card image"
                                         class="card-img-left"
                                         height="200px"
                                         src= <%- american_img1 %>
                                         style="width: 100%">
                                    <div class="card-body" id="Favorite1">
                                        <h4 > <%- american_restaurant1 %></h4>
                                        <p> <%- american_description1 %></p>
                                    </div>
                                </a>
                            </div>
                            <div class="card" >
                                <% if(result_5) {
                                    var american_id2 = result_5[2].restaurantid;
                                    var american_img2 = "https://upserve.com/media/sites/2/kaboompics_Bar-in-the-eclectically-designed-interior-1-e1515709265222.jpg";
                                    if(result_5[2].logo_img != null){
                                        american_img2 = result_5[2].logo_img;
                                    }
                                    else if(result_5[2].category_img != null){
                                        american_img2 = result_5[2].category_img;
                                    }
                                    var american_restaurant2 = result_5[2].restaurantName;
                                    var american_description2 = result_5[2].description;
                                }
                                %>
                                <a href ="/restaurant_info?id+ <%- american_id2 %> " style="color:black">
                                    <img alt="Card image"
                                         class="card-img-left"
                                         height="200px"
                                         src= <%- american_img2 %>
                                         style="width: 100%">
                                    <div class="card-body" id="Favorite1">
                                        <h4 > <%- american_restaurant2 %></h4>
                                        <p> <%- american_description2 %></p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card-group">
                            <div class="card" >
                                <% if(result_5) {
                                    var american_id3 = result_5[3].restaurantid;
                                    var american_img3 = "https://upserve.com/media/sites/2/kaboompics_Bar-in-the-eclectically-designed-interior-1-e1515709265222.jpg";
                                    if(result_5[3].logo_img != null){
                                        american_img3 = result_5[3].logo_img;
                                    }
                                    else if(result_5[3].category_img != null){
                                        american_img3 = result_5[3].category_img;
                                    }
                                    var american_restaurant3 = result_5[3].restaurantName;
                                    var american_description3 = result_5[3].description;
                                }
                                %>
                                <a href ="/restaurant_info?id+ <%- american_id2 %> " style="color:black">
                                    <img alt="Card image"
                                         class="card-img-left"
                                         height="200px"
                                         src= <%- american_img3 %>
                                         style="width: 100%">
                                    <div class="card-body" id="Favorite1">
                                        <h4 > <%- american_restaurant3 %></h4>
                                        <p> <%- american_description3 %></p>
                                    </div>
                                </a>
                            </div>
                            <div class="card" >
                                <% if(result_5) {
                                    var american_id4 = result_5[4].restaurantid;
                                    var american_img4 = "https://upserve.com/media/sites/2/kaboompics_Bar-in-the-eclectically-designed-interior-1-e1515709265222.jpg";
                                    if(result_5[4].logo_img != null){
                                        american_img4 = result_5[4].logo_img;
                                    }
                                    else if(result_5[4].category_img != null){
                                        american_img4 = result_5[4].category_img;
                                    }
                                    var american_restaurant4 = result_5[4].restaurantName;
                                    var american_description4 = result_5[4].description;
                                }
                                %>
                                <a href ="/restaurant_info?id+ <%- american_id4 %> " style="color:black">
                                    <img alt="Card image"
                                         class="card-img-left"
                                         height="200px"
                                         src= <%- american_img4 %>
                                         style="width: 100%">
                                    <div class="card-body" id="Favorite1">
                                        <h4 > <%- american_restaurant4 %></h4>
                                        <p> <%- american_description4 %></p>
                                    </div>
                                </a>
                            </div>
                            <div class="card" >
                                <% if(result_5) {
                                    var american_id5 = result_5[5].restaurantid;
                                    var american_img5 = "https://upserve.com/media/sites/2/kaboompics_Bar-in-the-eclectically-designed-interior-1-e1515709265222.jpg";
                                    if(result_5[5].logo_img != null){
                                        american_img5 = result_5[5].logo_img;
                                    }
                                    else if(result_5[5].category_img != null){
                                        american_img5 = result_5[5].category_img;
                                    }
                                    var american_restaurant5 = result_5[5].restaurantName;
                                    var american_description5 = result_5[5].description;
                                }
                                %>
                                <a href ="/restaurant_info?id+ <%- american_id5 %> " style="color:black">
                                    <img alt="Card image"
                                         class="card-img-left"
                                         height="200px"
                                         src= <%- american_img5 %>
                                         style="width: 100%">
                                    <div class="card-body" id="Favorite1">
                                        <h4 > <%- american_restaurant5 %></h4>
                                        <p> <%- american_description5 %></p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" data-slide="prev" href="#demo" style="width:10%;height:270px">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" data-slide="next" href="#demo" style="width:10%;height:270px">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
        </div>
        <br>
        <a id="mex_jump">
            <div class="section1">
                <h2 id=" Mex_header"> Mexican </h2>
                <div class="carousel slide" data-ride="carousel" id="mexican">
                    <ul class="carousel-indicators">
                        <li class="active" data-slide-to="0" data-target="#demo"></li>
                        <li data-slide-to="1" data-target="#demo"></li>
                        <li data-slide-to="2" data-target="#demo"></li>
                    </ul>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="card-group">
                                <div class="card" >
                                    <% if(result_1) {
                                        var mexican_id = result_1[0].restaurantid;
                                        var img = "https://upserve.com/media/sites/2/kaboompics_Bar-in-the-eclectically-designed-interior-1-e1515709265222.jpg";
                                        if(result_1[0].logo_img != null){
                                            img = result_1[0].logo_img;
                                        }
                                        else if(result_1[0].category_img != null){
                                            img = result_1[0].category_img;
                                        }
                                        var restaurant_name = result_1[0].restaurantName;
                                        var description = result_1[0].description;
                                    }
                                    %>
                                    <a href ="/restaurant_info?id+ <%- mexican_id %> " style="color:black">
                                        <img alt="Card image"
                                             class="card-img-left"
                                             height="200px"
                                             src = <%- img %>
                                             style="width: 100%">
                                        <div class="card-body" id="mexican1">
                                            <h4 id = "mexican1_name"><%- restaurant_name %></h4>
                                            <p id = "mexican1_address"> <%- description %> </p>
                                        </div>
                                    </a>
                                </div>
                                <div class="card" >
                                    <% if(result_1) {
                                        var mexican_id1 = result_1[1].restaurantid;
                                        var img1 = "https://upserve.com/media/sites/2/kaboompics_Bar-in-the-eclectically-designed-interior-1-e1515709265222.jpg";
                                        if(result_1[1].logo_img != null){
                                            img1 = result_1[1].logo_img;
                                        }
                                        else if(result_1[1].category_img != null){
                                            img1 = result_1[1].category_img;
                                        }
                                        var restaurant_name1 = result_1[1].restaurantName;
                                        var description1 = result_1[1].description;
                                    }
                                    %>
                                    <a href ="/restaurant_info?id+ <%- mexican_id1 %> " style="color:black">
                                        <img alt="Card image"
                                             class="card-img-left"
                                             height="200px"
                                             src= <%- img1%>
                                             style="width: 100%">
                                        <div class="card-body" id="mexican2">
                                            <h4><%- restaurant_name1%></h4>
                                            <p><%- description1%></p>
                                        </div>
                                    </a>
                                </div>
                                <div class="card" >
                                    <% if(result_1) {
                                        var mexican_id2 = result_1[2].restaurantid;
                                        var img2 = "https://upserve.com/media/sites/2/kaboompics_Bar-in-the-eclectically-designed-interior-1-e1515709265222.jpg";
                                        if(result_1[2].logo_img != null){
                                            img2 = result_1[2].logo_img;
                                        }
                                        else if(result_1[2].category_img != null){
                                            img2 = result_1[2].category_img;
                                        }
                                        var restaurant_name2 = result_1[2].restaurantName;
                                        var description2 = result_1[2].description;
                                    }
                                    %>
                                    <a href ="/restaurant_info?id+ <%- mexican_id2 %> " style="color:black">
                                        <img alt="Card image"
                                             class="card-img-left"
                                             height="200px"
                                             src= <%- img2 %>
                                             style="width: 100%">
                                        <div class="card-body" id="mexican3">
                                            <h4 ><%- restaurant_name2%></h4>
                                            <p><%- description2 %></p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="card-group">
                                <% if(result_1) {
                                    var mexican_id3 = result_1[3].restaurantid;
                                    var img3 = "https://upserve.com/media/sites/2/kaboompics_Bar-in-the-eclectically-designed-interior-1-e1515709265222.jpg";
                                    if(result_1[3].logo_img != null){
                                        img3 = result_1[3].logo_img;
                                    }
                                    else if(result_1[3].category_img != null){
                                        img3 = result_1[3].category_img;
                                    }
                                    var restaurant_name3 = result_1[3].restaurantName;
                                    var description3 = result_1[3].description;
                                }
                                %>
                                <div class="card" >
                                    <a href ="/restaurant_info?id+ <%- mexican_id3 %> " style="color:black">
                                        <img alt="Card image"
                                             class="card-img-left"
                                             height="200px"
                                             src= <%- img3 %>
                                             style="width: 100%">
                                        <div class="card-body" id="mexican4">
                                            <h4 > <%- restaurant_name3%></h4>
                                            <p><%- description3 %></p>
                                        </div>
                                    </a>
                                </div>
                                <div class="card" >
                                    <% if(result_1) {
                                        var mexican_id4 = result_1[4].restaurantid;
                                        var img4 = "https://upserve.com/media/sites/2/kaboompics_Bar-in-the-eclectically-designed-interior-1-e1515709265222.jpg";
                                        if(result_1[4].logo_img != null){
                                            img4 = result_1[4].logo_img;
                                        }
                                        else if(result_1[4].category_img != null){
                                            img4 = result_1[4].category_img;
                                        }
                                        var restaurant_name4 = result_1[4].restaurantName;
                                        var description4 = result_1[4].description;
                                    }
                                    %>
                                    <a href ="/restaurant_info?id+ <%- mexican_id4 %> " style="color:black">
                                        <img alt="Card image"
                                             class="card-img-left"
                                             height="200px"
                                             src= <%- img4 %>
                                             style="width: 100%">
                                        <div class="card-body" id="mexican5">
                                            <h4 ><%- restaurant_name4%></h4>
                                            <p><%- description4%> </p>
                                        </div>
                                    </a>
                                </div>
                                <div class="card" >
                                    <% if(result_1) {
                                        var mexican_id5 = result_1[5].restaurantid;
                                        var img5 = "https://upserve.com/media/sites/2/kaboompics_Bar-in-the-eclectically-designed-interior-1-e1515709265222.jpg";
                                        if(result_1[5].logo_img != null){
                                            img5 = result_1[5].logo_img;
                                        }
                                        else if(result_1[5].category_img != null){
                                            img5 = result_1[5].category_img;
                                        }
                                        var restaurant_name5 = result_1[5].restaurantName;
                                        var description5 = result_1[5].description;
                                    }
                                    %>
                                    <a href ="/restaurant_info?id+ <%- mexican_id5 %> " style="color:black">
                                        <img alt="Card image"
                                             class="card-img-left"
                                             height="200px"
                                             src= <%- img5%>
                                             style="width: 100%">
                                        <div class="card-body" id="mexican6">
                                            <h4 ><%- restaurant_name5%></h4>
                                            <p><%- description5%></p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" data-slide="prev" href="#mexican" style="width:10%;height:270px">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" data-slide="next" href="#mexican" style="width:10%;height:270px">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                </div>
            </div>
            <br>
            <a id="italian_jump">
                <div class="section1">
                    <h2 id=" italian_header"> Italian </h2>
                    <div class="carousel slide" data-ride="carousel" id="italian">
                        <ul class="carousel-indicators">
                            <li class="active" data-slide-to="0" data-target="#demo"></li>
                            <li data-slide-to="1" data-target="#demo"></li>
                            <li data-slide-to="2" data-target="#demo"></li>
                        </ul>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="card-group">
                                    <div class="card" >
                                        <% if(result_2) {
                                            var italian_id = result_2[0].restaurantid;
                                            var ital_img = "https://upserve.com/media/sites/2/kaboompics_Bar-in-the-eclectically-designed-interior-1-e1515709265222.jpg";
                                            if(result_2[0].logo_img != null){
                                                ital_img = result_2[0].logo_img;
                                            }
                                            else if(result_2[0].category_img != null){
                                                ital_img = result_2[0].category_img;
                                            }
                                            var ital_restaurant_name = result_2[0].restaurantName;
                                            var ital_description = result_2[0].description;
                                        }
                                        %>
                                        <a href ="/restaurant_info?id+ <%- italian_id %> " style="color:black">
                                            <img alt="Card image"
                                                 class="card-img-left"
                                                 height="200px"
                                                 src= <%- ital_img%>
                                                 style="width: 100%">
                                            <div class="card-body" id="italian1">
                                                <h4 ><%- ital_restaurant_name %></h4>
                                                <p><%- ital_description%></p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="card" >
                                        <% if(result_2) {
                                            var italian_id1 = result_2[1].restaurantid;
                                            var ital_img1 = "https://upserve.com/media/sites/2/kaboompics_Bar-in-the-eclectically-designed-interior-1-e1515709265222.jpg";
                                            if(result_2[1].logo_img != null){
                                                ital_img1 = result_2[1].logo_img;
                                            }
                                            else if(result_2[1].category_img != null){
                                                ital_img1 = result_2[1].category_img;
                                            }
                                            var ital_restaurant_name1 = result_2[1].restaurantName;
                                            var ital_description1 = result_2[1].description;
                                        }
                                        %>
                                        <a href ="/restaurant_info?id+ <%- italian_id1 %> " style="color:black">
                                            <img alt="Card image"
                                                 class="card-img-left"
                                                 height="200px"
                                                 src= <%- ital_img1 %>
                                                 style="width: 100%">
                                            <div class="card-body" id="italian2">
                                                <h4 ><%- ital_restaurant_name1%></h4>
                                                <p><%- ital_description1%></p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="card" >
                                        <% if(result_2) {
                                            var italian_id2 = result_2[2].restaurantid;
                                            var ital_img2 = "https://upserve.com/media/sites/2/kaboompics_Bar-in-the-eclectically-designed-interior-1-e1515709265222.jpg";
                                            if(result_2[2].logo_img != null){
                                                ital_img2 = result_2[2].logo_img;
                                            }
                                            else if(result_2[2].category_img != null){
                                                ital_img2 = result_2[2].category_img;
                                            }
                                            var ital_restaurant_name2 = result_2[2].restaurantName;
                                            var ital_description2 = result_2[2].description;
                                        }
                                        %>
                                        <a href ="/restaurant_info?id+ <%- italian_id2 %> " style="color:black">
                                            <img alt="Card image"
                                                 class="card-img-left"
                                                 height="200px"
                                                 src= <%- ital_img2%>
                                                 style="width: 100%">
                                            <div class="card-body" id="italian3">
                                                <h4 ><%- ital_restaurant_name2%></h4>
                                                <p><%- ital_description2 %></p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="card-group">
                                    <div class="card" >
                                        <% if(result_2) {
                                            var italian_id3 = result_2[3].restaurantid;
                                            var ital_img3 = "https://upserve.com/media/sites/2/kaboompics_Bar-in-the-eclectically-designed-interior-1-e1515709265222.jpg";
                                            if(result_2[3].logo_img != null){
                                                ital_img3 = result_2[3].logo_img;
                                            }
                                            else if(result_2[3].category_img != null){
                                                ital_img3 = result_2[3].category_img;
                                            }
                                            var ital_restaurant_name3 = result_2[3].restaurantName;
                                            var ital_description3 = result_2[3].description;
                                        }
                                        %>
                                        <a href ="/restaurant_info?id+ <%- italian_id3 %> " style="color:black">
                                            <img alt="Card image"
                                                 class="card-img-left"
                                                 height="200px"
                                                 src= <%- ital_img3 %>
                                                 style="width: 100%">
                                            <div class="card-body" id="italian4">
                                                <h4 ><%- ital_restaurant_name3%></h4>
                                                <p><%- ital_description3 %></p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="card" >
                                        <% if(result_2) {
                                            var italian_id4 = result_2[4].restaurantid;
                                            var ital_img4 = "https://upserve.com/media/sites/2/kaboompics_Bar-in-the-eclectically-designed-interior-1-e1515709265222.jpg";
                                            if(result_2[4].logo_img != null){
                                                ital_img4 = result_2[4].logo_img;
                                            }
                                            else if(result_2[4].category_img != null){
                                                ital_img4 = result_2[4].category_img;
                                            }
                                            var ital_restaurant_name4 = result_2[4].restaurantName;
                                            var ital_description4 = result_2[4].description;
                                        }
                                        %>
                                        <a href ="/restaurant_info?id+ <%- italian_id4 %> " style="color:black">
                                            <img alt="Card image"
                                                 class="card-img-left"
                                                 height="200px"
                                                 src= <%- ital_img4 %>
                                                 style="width: 100%">
                                            <div class="card-body" id="italian5">
                                                <h4 ><%- ital_restaurant_name4 %></h4>
                                                <p> <%- ital_description4 %></p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="card" >
                                        <% if(result_2) {
                                            var italian_id5 = result_2[5].restaurantid;
                                            var ital_img5 = "https://upserve.com/media/sites/2/kaboompics_Bar-in-the-eclectically-designed-interior-1-e1515709265222.jpg";
                                            if(result_2[5].logo_img != null){
                                                ital_img5 = result_2[5].logo_img;
                                            }
                                            else if(result_2[5].category_img != null){
                                                ital_img5 = result_2[5].category_img;
                                            }
                                            var ital_restaurant_name5 = result_2[5].restaurantName;
                                            var ital_description5 = result_2[5].description;
                                        }
                                        %>
                                        <a href ="/restaurant_info?id+ <%- italian_id5 %> " style="color:black">
                                            <img alt="Card image"
                                                 class="card-img-left"
                                                 height="200px"
                                                 src= <%- ital_img5 %>
                                                 style="width: 100%">
                                            <div class="card-body" id="italian6">
                                                <h4 ><%- ital_restaurant_name5%></h4>
                                                <p><%- ital_description5 %></p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" data-slide="prev" href="#italian" style="width:10%;height:270px">
                            <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" data-slide="next" href="#italian" style="width:10%;height:270px">
                            <span class="carousel-control-next-icon"></span>
                        </a>
                    </div>
                </div>
                <br>
                <a id="asian_jump">
                    <div class="section1">
                        <h2 id=" chinese_header"> Asian </h2>
                        <div class="carousel slide" data-ride="carousel" id="chinese">
                            <ul class="carousel-indicators">
                                <li class="active" data-slide-to="0" data-target="#demo"></li>
                                <li data-slide-to="1" data-target="#demo"></li>
                                <li data-slide-to="2" data-target="#demo"></li>
                            </ul>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="card-group">
                                        <div class="card" >
                                            <% if(result_3) {
                                                var chinese_id = result_3[0].restaurantid;
                                                var chinese_img = "https://upserve.com/media/sites/2/kaboompics_Bar-in-the-eclectically-designed-interior-1-e1515709265222.jpg";
                                                if(result_3[0].logo_img != null){
                                                    chinese_img = result_3[0].logo_img;
                                                }
                                                else if(result_3[0].category_img != null){
                                                    chinese_img = result_3[0].category_img;
                                                }
                                                var chinese_restaurant_name = result_3[0].restaurantName;
                                                var chinese_description = result_3[0].description;
                                            }
                                            %>
                                            <a href ="/restaurant_info?id+ <%- chinese_id %> " style="color:black">
                                                <img alt="Card image"
                                                     class="card-img-left"
                                                     height="200px"
                                                     src= <%- chinese_img %>
                                                     style="width: 100%">
                                                <div class="card-body" id="chinese1">
                                                    <h4> <%- chinese_restaurant_name %></h4>
                                                    <p> <%- chinese_description %></p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="card" >
                                            <% if(result_3) {
                                                var chinese_id1 = result_3[1].restaurantid;
                                                var chinese_img1 = "https://upserve.com/media/sites/2/kaboompics_Bar-in-the-eclectically-designed-interior-1-e1515709265222.jpg";
                                                if(result_3[1].logo_img != null){
                                                    chinese_img1 = result_3[1].logo_img;
                                                }
                                                else if(result_3[1].category_img != null){
                                                    chinese_img1 = result_3[1].category_img;
                                                }
                                                var chinese_restaurant_name1 = result_3[1].restaurantName;
                                                var chinese_description1 = result_3[1].description;
                                            }
                                            %>
                                            <a href ="/restaurant_info?id+ <%- chinese_id1 %> " style="color:black">
                                                <img alt="Card image"
                                                     class="card-img-left"
                                                     height="200px"
                                                     src= <%- chinese_img1%>
                                                     style="width: 100%">
                                                <div class="card-body" id="chinese2">
                                                    <h4 > <%- chinese_restaurant_name1%></h4>
                                                    <p><%- chinese_description1%></p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="card" >
                                            <% if(result_3) {
                                                var chinese_id2 = result_3[2].restaurantid;
                                                var chinese_img2 = "https://upserve.com/media/sites/2/kaboompics_Bar-in-the-eclectically-designed-interior-1-e1515709265222.jpg";
                                                if(result_3[2].logo_img != null){
                                                    chinese_img2 = result_3[2].logo_img;
                                                }
                                                else if(result_3[2].category_img != null){
                                                    chinese_img2 = result_3[2].category_img;
                                                }
                                                var chinese_restaurant_name2 = result_3[2].restaurantName;
                                                var chinese_description2 = result_3[2].description;
                                            }
                                            %>
                                            <a href ="/restaurant_info?id+ <%- chinese_id2 %> " style="color:black">
                                                <img alt="Card image"
                                                     class="card-img-left"
                                                     height="200px"
                                                     src= <%- chinese_img2%>
                                                     style="width: 100%">
                                                <div class="card-body" id="chinese3">
                                                    <h4 > <%- chinese_restaurant_name2%></h4>
                                                    <p> <%- chinese_description2%></p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item" >
                                    <div class="card-group">
                                        <div class="card" >
                                            <% if(result_3) {
                                                var chinese_id3 = result_3[3].restaurantid;
                                                var chinese_img3 = "https://upserve.com/media/sites/2/kaboompics_Bar-in-the-eclectically-designed-interior-1-e1515709265222.jpg";
                                                if(result_3[3].logo_img != null){
                                                    chinese_img3 = result_3[3].logo_img;
                                                }
                                                else if(result_3[3].category_img != null){
                                                    chinese_img3 = result_3[3].category_img;
                                                }
                                                var chinese_restaurant_name3 = result_3[3].restaurantName;
                                                var chinese_description3 = result_3[3].description;
                                            }
                                            %>
                                            <a href ="/restaurant_info?id+ <%- chinese_id3 %> " style="color:black">
                                                <img alt="Card image"
                                                     class="card-img-left"
                                                     height="200px"
                                                     src= <%- chinese_img3%>
                                                     style="width: 100%">
                                                <div class="card-body" id="chinese4">
                                                    <h4 > <%- chinese_restaurant_name3%></h4>
                                                    <p> <%- chinese_description3%></p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="card" >
                                            <% if(result_3) {
                                                var chinese_id4 = result_3[4].restaurantid;
                                                var chinese_img4 = "https://upserve.com/media/sites/2/kaboompics_Bar-in-the-eclectically-designed-interior-1-e1515709265222.jpg";
                                                if(result_3[4].logo_img != null){
                                                    chinese_img4 = result_3[4].logo_img;
                                                }
                                                else if(result_3[4].category_img != null){
                                                    chinese_img4 = result_3[4].category_img;
                                                }
                                                var chinese_restaurant_name4 = result_3[4].restaurantName;
                                                var chinese_description4 = result_3[4].description;
                                            }
                                            %>
                                            <a href ="/restaurant_info?id+ <%- chinese_id4 %> " style="color:black">
                                                <img alt="Card image"
                                                     class="card-img-left"
                                                     height="200px"
                                                     src= <%- chinese_img4%>
                                                     style="width: 100%">
                                                <div class="card-body" id="chinese5">
                                                    <h4 ><%-chinese_restaurant_name4%></h4>
                                                    <p> <%- chinese_description4%></p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="card" >
                                            <% if(result_3) {
                                                var chinese_id5 = result_3[5].restaurantid;
                                                var chinese_img5 = "https://upserve.com/media/sites/2/kaboompics_Bar-in-the-eclectically-designed-interior-1-e1515709265222.jpg";
                                                if(result_3[5].logo_img != null){
                                                    chinese_img5 = result_3[5].logo_img;
                                                }
                                                else if(result_3[5].category_img != null){
                                                    chinese_img5 = result_3[5].category_img;
                                                }
                                                var chinese_restaurant_name5 = result_3[5].restaurantName;
                                                var chinese_description5 = result_3[5].description;
                                            }
                                            %>
                                            <a href ="/restaurant_info?id+ <%- chinese_id5 %> " style="color:black">
                                                <img alt="Card image"
                                                     class="card-img-left"
                                                     height="200px"
                                                     src= <%- chinese_img5%>
                                                     style="width: 100%">
                                                <div class="card-body" id="chinese6">
                                                    <h4 > <%- chinese_restaurant_name5%></h4>
                                                    <p> <%- chinese_description5%></p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a class="carousel-control-prev" data-slide="prev" href="#chinese"
                               style="width:10%;height:270px">
                                <span class="carousel-control-prev-icon"></span>
                            </a>
                            <a class="carousel-control-next" data-slide="next" href="#chinese"
                               style="width:10%;height:270px">
                                <span class="carousel-control-next-icon"></span>
                            </a>
                        </div>
                    </div>
                    <br>
                    <a id="breakfast_jump">
                        <div class="section1">
                            <h2 id=" breakfast_header"> Breakfast </h2>
                            <div class="carousel slide" data-ride="carousel" id="breakfast">
                                <ul class="carousel-indicators">
                                    <li class="active" data-slide-to="0" data-target="#demo"></li>
                                    <li data-slide-to="1" data-target="#demo"></li>
                                    <li data-slide-to="2" data-target="#demo"></li>
                                </ul>
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <div class="card-group">
                                            <div class="card" >
                                                <% if(result_4) {
                                                    var break_id = result_4[0].restaurantid;
                                                    var break_img = "https://upserve.com/media/sites/2/kaboompics_Bar-in-the-eclectically-designed-interior-1-e1515709265222.jpg";
                                                    if(result_4[0].logo_img != null){
                                                        break_img = result_4[0].logo_img;
                                                    }
                                                    else if(result_4[0].category_img != null){
                                                        break_img = result_4[0].category_img;
                                                    }
                                                    var break_rest = result_4[0].restaurantName;
                                                    var break_desc = result_4[0].description;
                                                }
                                                %>
                                                <a href ="/restaurant_info?id+ <%- break_id %> " style="color:black">
                                                    <img alt="Card image"
                                                         class="card-img-left"
                                                         height="200px"
                                                         src= <%- break_img %>
                                                         style="width: 100%">
                                                    <div class="card-body" id="breakfast1">
                                                        <h4 > <%- break_rest %></h4>
                                                        <p> <%- break_desc %></p>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="card" >
                                                <% if(result_4) {
                                                    var break_id1 = result_4[1].restaurantid;
                                                    var break_img1 = "https://upserve.com/media/sites/2/kaboompics_Bar-in-the-eclectically-designed-interior-1-e1515709265222.jpg";
                                                    if(result_4[1].logo_img != null){
                                                        break_img1 = result_4[1].logo_img;
                                                    }
                                                    else if(result_4[1].category_img != null){
                                                        break_img1 = result_4[1].category_img;
                                                    }
                                                    var break_rest1 = result_4[1].restaurantName;
                                                    var break_desc1 = result_4[1].description;
                                                }
                                                %>
                                                <a href ="/restaurant_info?id+ <%- break_id1 %> " style="color:black">
                                                    <img alt="Card image"
                                                         class="card-img-left"
                                                         height="200px"
                                                         src= <%- break_img1 %>
                                                         style="width: 100%">
                                                    <div class="card-body" id="breakfast1">
                                                        <h4 > <%- break_rest1 %></h4>
                                                        <p> <%- break_desc1 %></p>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="card" >
                                                <% if(result_4) {
                                                    var break_id2 = result_4[2].restaurantid;
                                                    var break_img2 = "https://upserve.com/media/sites/2/kaboompics_Bar-in-the-eclectically-designed-interior-1-e1515709265222.jpg";
                                                    if(result_4[2].logo_img != null){
                                                        break_img2 = result_4[2].logo_img;
                                                    }
                                                    else if(result_4[2].category_img != null){
                                                        break_img2 = result_4[2].category_img;
                                                    }
                                                    var break_rest2 = result_4[2].restaurantName;
                                                    var break_desc2 = result_4[2].description;
                                                }
                                                %>
                                                <a href ="/restaurant_info?id+ <%- break_id2 %> " style="color:black">
                                                    <img alt="Card image"
                                                         class="card-img-left"
                                                         height="200px"
                                                         src= <%- break_img2 %>
                                                         style="width: 100%">
                                                    <div class="card-body" id="breakfast1">
                                                        <h4 > <%- break_rest2 %></h4>
                                                        <p> <%- break_desc2 %></p>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="card-group">
                                            <div class="card" >
                                                <% if(result_4) {
                                                    var break_id3 = result_4[3].restaurantid;
                                                    var break_img3 = "https://upserve.com/media/sites/2/kaboompics_Bar-in-the-eclectically-designed-interior-1-e1515709265222.jpg";
                                                    if(result_4[3].logo_img != null){
                                                        break_img3 = result_4[3].logo_img;
                                                    }
                                                    else if(result_4[3].category_img != null){
                                                        break_img3 = result_4[3].category_img;
                                                    }
                                                    var break_rest3 = result_4[3].restaurantName;
                                                    var break_desc3 = result_4[3].description;
                                                }
                                                %>
                                                <a href ="/restaurant_info?id+ <%- break_id3 %> " style="color:black">
                                                    <img alt="Card image"
                                                         class="card-img-left"
                                                         height="200px"
                                                         src= <%- break_img3 %>
                                                         style="width: 100%">
                                                    <div class="card-body" id="breakfast1">
                                                        <h4 > <%- break_rest3 %></h4>
                                                        <p> <%- break_desc3 %></p>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="card" >
                                                <% if(result_4) {
                                                    var break_id4 = result_4[4].restaurantid;
                                                    var break_img4 = "https://upserve.com/media/sites/2/kaboompics_Bar-in-the-eclectically-designed-interior-1-e1515709265222.jpg";
                                                    if(result_4[4].logo_img != null){
                                                        break_img4 = result_4[4].logo_img;
                                                    }
                                                    else if(result_4[4].category_img != null){
                                                        break_img4 = result_4[4].category_img;
                                                    }
                                                    var break_rest4 = result_4[4].restaurantName;
                                                    var break_desc4 = result_4[4].description;
                                                }
                                                %>
                                                <a href ="/restaurant_info?id+ <%- break_id4 %> " style="color:black">
                                                    <img alt="Card image"
                                                         class="card-img-left"
                                                         height="200px"
                                                         src= <%- break_img4 %>
                                                         style="width: 100%">
                                                    <div class="card-body" id="breakfast1">
                                                        <h4 > <%- break_rest4 %></h4>
                                                        <p> <%- break_desc4 %></p>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="card" >
                                                <% if(result_4) {
                                                    var break_id5 = result_4[5].restaurantid;
                                                    var break_img5 = "https://upserve.com/media/sites/2/kaboompics_Bar-in-the-eclectically-designed-interior-1-e1515709265222.jpg";
                                                    if(result_4[5].logo_img != null){
                                                        break_img5 = result_4[5].logo_img;
                                                    }
                                                    else if(result_4[5].category_img != null){
                                                        break_img5 = result_4[5].category_img;
                                                    }
                                                    var break_rest5 = result_4[5].restaurantName;
                                                    var break_desc5 = result_4[5].description;
                                                }
                                                %>
                                                <a href ="/restaurant_info?id+ <%- break_id5 %> " style="color:black">
                                                    <img alt="Card image"
                                                         class="card-img-left"
                                                         height="200px"
                                                         src= <%- break_img5 %>
                                                         style="width: 100%">
                                                    <div class="card-body" id="breakfast1">
                                                        <h4 > <%- break_rest5 %></h4>
                                                        <p> <%- break_desc5 %></p>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a class="carousel-control-prev" data-slide="prev" href="#breakfast"
                                   style="width:10%;height:270px">
                                    <span class="carousel-control-prev-icon"></span>
                                </a>
                                <a class="carousel-control-next" data-slide="next" href="#breakfast"
                                   style="width:10%;height:270px">
                                    <span class="carousel-control-next-icon"></span>
                                </a>
                            </div>
                        </div>
                    </a>
                </a>
            </a>
        </a>
    </a>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

</body>


</html>